<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Your search results!!!</title>
  </head>
  <body>
    <div class='container'>

      <!-- PAGE BANNER -->
      <div class='page-header'>
        <h1>Registrarinator</h1>
        <h5>sweet regist-rawr-ing</h5>
      </div>

      {% if results is not empty %}
        <h1>Your search results!!!</h1>

        {% for i in 0..results|length - 1 %}
          <ul>
            <li>
              Student {{ search_term }}, enrolled in
              {{ results_courses[i]|length > 1 ? 'courses' : 'course' }}
              {% for j in 0..results_courses[i]|length - 1 %}
                [{{ results_courses[i][j].getName }}] 
              {% endfor %}
              enrolled on {{ results[i].getEnrollmentDate }}
            </li>
          </ul>
        {% endfor %}
      {% else %}
        <h1>No results! =(</h1>
      {% endif %}

      <a href='/'>Home</a>
    </div>
  </body>
</html>
